@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;700;800&display=swap');


:root {
    --color-gray-0:#f5f7f9;
    --color-gray-50: #e3e6e8;
    --color-gray-100: #cbcfd2;
    --color-gray-200:#adb3b8;
    --color-gray-300: #9ba1d9;
    --color-gray-400: #777c82;
    --color-gray-500: #63676b;
    --color-gray-600: #4c5054;
    --color-gray-700: #2c3236;
    --color-gray-800: #102125;
    --color-gray-900: #3101213;
    --color-primary: #826ee6;
    --color-primary-variant: #229de9;
    --color-danger: #df4969;
    --color-success:#1ca5a5;
    --color-info: #ffcd56;
    --color-purple: rgb(166, 27, 191);

    --transition: all 300ms ease;

    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    background: transparent;
}

body{
    font-family: sans-serif, "Montserrat";
    max-width: 100vw;
    background: var(--color-gray-50);
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color-gray-600);
    line-height: 1.6;
}

a{
    color: var(--color-gray-600);
    transition: var(--transition);

}

button{
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,h2,h3,h4,h5{
    color: var(--color-gray-900);
    font-weight: 600;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.1rem
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

/*==================SIDEBAR==================*/

.sidebar{
    display: flex;
    flex-direction: column;
    height: 97vh;
    justify-content: space-between;
    min-width: fit-content;
    width: 12rem;
}

.sidebar__logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sidebar__logo img{
    width: 2.5rem;
    background: var(--color-gray-0);
    padding: 0.5rem;
    border-radius: var(--radius-2);
}

.sidebar__logo h3{
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 700;
}

.sidebar__logo h3 span{
    color: var(--color-primary);
}

.sidebar__top, .sidebar__bottom{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sidebar__top a, .sidebar__bottom a{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.6rem;
    padding: 0.8rem;
}

.sidebar__top a:hover, .sidebar__bottom a:hover{
    background: var(--color-gray-0);
    transform: translateX(0.5rem)
}

.sidebar__top a i, .sidebar__bottom a i{
    font-size: 1rem;
    color: var(--color-gray-500);
}

.sidebar__top a h5, .sidebar__bottom a h5{
    color: var(--color-gray-500);
}

.sidebar a.active{
    background-color: var(--color-primary);
}

.sidebar a.active i, .sidebar a.active h5{
    color: var(--color-gray-0);
}

/*=====================NAVBAR=====================*/

main{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar__search{
    display: flex;
    background: var(--color-gray-0);
    width: 35rem;
    padding: 0.8rem;
    border-radius: var(--radius-2);
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.navbar__search input{
    
    width: 100%;
    color: var(--color-gray-900);
    background: transparent;
}

.navbar__items{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__items button{
    background: var(--color-gray-0);
    color: var(--color-gray-900);
    padding: 0.8rem 1rem;
    border-radius: var(--radius-2);
}

.navbar__theme-btn{
    font-size: 1rem;
}

.navbar__export-btn i{
    margin-left: 0.8rem;
}

.navbar__items-image{
    width: 2.6rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-2);
    overflow: hidden;
}














/*====================CARDS========================*/

.main__wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

h1{
    margin-top: 1rem;
}

.cards{
    margin: 0.7rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
}

.card{
    background: linear-gradient(135deg,#fff1f1,#ff8686);
    padding: 1.5rem 1rem;
    border-radius: var(--radius-2);
    color: #444;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    cursor: default;
}

.card::before{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top:15%;
    height: 140%;
    aspect-ratio: 1/1;
    background: linear-gradient(115deg,black, transparent, transparent, transparent);
    border-radius: 50%;
    opacity: 0.1;
}
.card::after{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top:15%;
    height: 70%;
    aspect-ratio: 1/1;
    background: linear-gradient(115deg,black, transparent, transparent, transparent);
    border-radius: 50%;
    opacity: 0.1;
}



.card:nth-child(2){
    background: linear-gradient(135deg,#eefcff,#3ec2e3);
}

.card:nth-child(3){
    background: linear-gradient(135deg,#fefeee,#d9e14a);
}

.card:nth-child(4){
    background: linear-gradient(135deg,#f2efff,#a391ff);
}

.card:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1rem var(--color-gray-100);
}

.card h5 span{
    margin-left: 0.3rem;
    font-size: 0.7rem;
}

.card h2{
    margin: 1rem 0 1.8rem;
    color: #101213;
}

.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*===============BAR CHART=======================*/

#chart{
    background-color: var(--color-gray-0);
    border-radius: var(--radius-2);
    padding: 2rem;
    width: 100%;
    height: 22rem;
    /*margin: 1rem 0;*/
}